body {
    font-family: 'font', sans-serif;
}

:root {
    --main-color: black;
    --main-font-size: 2em;
    --main-font-weight: 700;
}

.container {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.header__top {
    margin-bottom: 20px;
    align-items: center;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid var(--main-color);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
}

.header__logo {
    padding: 10px 30px;
}

.header__search {
    width: 100%;
}

.search__input {
    width: 100%;
    padding: 16px;
}

.search__input::placeholder {
    font-size: 1.5em;
    font-weight: 600;
}

.button {
    cursor: pointer
}

.search__button {
    padding: 10px;
}

.link {
    text-decoration: none;
}

.phone__link {
    color: var(--main-color);
}

.header__contacts {
    padding: 10px 30px;
}

.header__nav {
    padding: 10px 100px;
    margin-bottom: 20px;
}

.header__bottom {
    padding: 100px;
    margin-bottom: 20px;
}

.aside {
    width: 20%;
    padding: 200px 100px;
}

.main {
    width: 75%;
    padding: 200px 100px;
}

.footer {
    padding: 100px;
}